@CHARSET "ISO-8859-1";

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: aliceblue;
}

text{
	pointer-events:none;
}

.drawingArea{
	width: 100%;
	height: 2000px;
}

path:hover{
	stroke: orange;
	cursor: pointer;
}

.legend{
	width: 100px;
	height: 700px;
}

.legendBar{
	width: 30px;
	height: 700px;
}

.pathTooltip{
	position: absolute;			
    text-align: center;
    vertical-align: middle;			
    width: auto;					
    height: 30px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background:	lightgreen;	
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none;		
}

.functionA, .functionB, .functionC, .functionD, .functionE, .functionF, .functionG, .functionH, .functionI, .functionJ{
	cursor: pointer;
}

.machineTooltip{
	position: absolute;			
    text-align: center;
    vertical-align: middle;			
    width: auto;					
    height: 30px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background:	Thistle;	
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none;
}

.contextMenu{
	position: absolute;
	width: auto;
	height: auto;
	font: 11px sans-serif;
	background: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: 2px 2px dimgray;
	padding: 0px;	
}
.menuVoice{
	display: block;
	z-index: 999;
	cursor: pointer;
	padding: 5px;
	padding-left: 10px;
}
.menuVoicesContainer{
	padding:5px;
}
.menuVoice:hover{
	background-color: lightgray;
}

.menuVoice:nth-Child(2) , .menuVoice:nth-Child(4){
	border-bottom: 1px dotted #e6e6e6;
}

.disabled{
	color: darkgray;
}
.disabled:hover{
	background-color: white;
}