@CHARSET "ISO-8859-1";

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: aliceblue;
	font-family: sans-serif;
	margin: 0px;
}

text{
	pointer-events:none;
}

.drawingArea{
	width: 100%;
	height: 2000px;
}

path:hover{
	stroke: orange;
	cursor: pointer;
}

.legendBar{
	width: 30px;
	height: 500px;
}

.pathTooltip{
    height: 45px;										
    background:	lightgreen;	
    border: 1px solid green;			
}

.functionA, .functionB, .functionC, .functionD, .functionE, .functionF, .functionG, .functionH, .functionI, .functionJ{
	cursor: pointer;
}

.machineTooltip{  					
    height: 45px;    	
    background:	#ffedcc;	
    border: 1px solid orange;
}

.tooltip{
	position: absolute;			
    text-align: center;
    width: auto;
    padding: 2px;				
    font: 12px sans-serif;	
    border-radius: 5px;			
    pointer-events: none;
    display: none;
}

.contextMenu{
	position: absolute;
	width: auto;
	height: auto;
	font: 11px sans-serif;
	background: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: 2px 2px dimgray;
	padding: 0px;	
}
.menuVoice{
	display: block;
	z-index: 999;
	cursor: pointer;
	padding: 5px;
	padding-left: 10px;
}
.container{
	padding:5px;
}
.menuVoice:hover{
	background-color: lightgray;
}

.menuVoice:nth-Child(2) , .menuVoice:nth-Child(4){
	border-bottom: 1px dotted #e6e6e6;
}

.disabled{
	color: darkgray;
}
.disabled:hover{
	background-color: white;
}

.pathTooltip .tooltipArrow{	
	top:1px;
	left: 5px;
   	border-color: green transparent transparent transparent;
}

.machineTooltip .tooltipArrow{
	top:1px;
	left: 5px;
	border-color: orange transparent transparent transparent;	
}

.tooltipArrow{
	position:relative;
	width: 0px;
	height: 0px;
    border: 5px solid;
    border-top-width: 10px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.tooltipVoice{
	display: block;
	pointer-events: none;
	padding: 2px;
}

.legendTitle{
	font-size: 16px;
}

.legendLabel{
	font-size: 13px;
}

.popUpContainer{
	fill: lightyellow;
	stroke: burlywood;
	stroke-width: 1px;
}

.popUpContainer.closed{
	stroke: #c88937;
}